<br/>


<h2><%= icon('fas', 'star') %> Posts em Destaque</h2>

<% @posts.each do |post| %>

    <div class="row">
        <div class="col">
        <h3 class="font-weight-bold text-dark"><%= link_to post.title, post.url %></h3>
        </div>
    </div>

    <div class="card-group">

         <div class="col-lg-5 col-md-5 col-sm-6 col-xs-6 card bg-white">
            <div class="card-body text-center">
                <% if post.pic != "" %>
                <%= post.pic.html_safe %>
                <% else  %>
                <div class="nopic img-thumbnail"></div>
                <% end %>
            </div>

        
            <a href=<%= "#{post.title}/#{post.url}" %> class="btn btn-warning font-weight-bold text-dark">Continue Lendo...</a>
            <br />     
        </div>

        <div class="col-lg-7 col-md-7 col-sm-6 col-xs-6 card text-white bg-dark">

            <div class="card-body">      
                <%= simple_format post.intro %>
            </div>
        </div>
        
    </div>

  <br />

<% end %>