<%= form_with(model: post, local: true) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :title %>
    <%= form.text_field :title, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :url %>
    <%= form.text_field :url, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :pic %>
    <%= form.text_field :pic, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :intro %>
    <%= form.text_area :intro, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :highlights %>
    <%= form.text_area :highlights, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :reviews %>
    <%= form.collection_select(:review_ids, Review.all, :id, :title, {}, :multiple => true , class: "form-control" ) %>    
  </div>

  <div class="form-group">
    <%= form.label :guide %>
    <%= form.text_area :guide, class: "form-control" %>
  </div>

  <div class="actions">
    <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>
