<p id="notice"><%= notice %></p>

<div>
  <div class="row">
      <div class="col">
        <h1><%= @post.title %></h1>

        <br />

        <div class="float-right">
          <%= @post.pic.html_safe %>
        </div>

        <div>
          <%= simple_format @post.intro %>
        </div>

        <ol>
          <% @post.reviews.each do |review| %>
            <li class="font-weight-bold text-dark">
              <%= link_to review.title, "#{review.device}/#{review.url}" %>
            </li>
          <% end %>
        </ol>

        <p>
          <%= simple_format @post.highlights %>
        </p>

        <p>
          <strong>Guide:</strong>
          <%= @post.guide %>
        </p>
    </div>
  </div>
</div>

<% if @admin %>
  <%= link_to 'Edit', edit_post_path(@post) %> |
  <%= link_to 'Back', posts_path %>
<% end %>
