<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Url:</strong>
  <%= @post.url %>
</p>

<p>
  <strong>Pic:</strong>
  <%= @post.pic %>
</p>

<p>
  <strong>Intro:</strong>
  <%= @post.intro %>
</p>

<p>
  <strong>Guide:</strong>
  <%= @post.guide %>
</p>

<p>
  <strong>Reviews:</strong>
</p>

<% @post.reviews.each do |review| %>

  <p><%= review.title %></p>

<% end %>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
