<%= form_with(model: review, local: true) do |form| %>
  <% if review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(review.errors.count, "error") %> prohibited this review from being saved:</h2>

      <ul>
      <% review.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="form-group">
    <%= form.label :device %>
    <%= form.select(:device, options_for_select(['notebook', 'tablet', 'kindle', 'ipad'], form.object.device), {}, class: "form-control") %>
  </div>

  <div class="form-group">
    <%= form.label :title %>
    <%= form.text_field :title, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :url %>
    <%= form.text_field :url, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :video, "ID do Vídeo" %>
    <%= form.text_field :video, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :video_start, "Começo do Vídeo (em segundos)" %>
    <%= form.number_field :video_start, min: "0", class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :video_end, "Fim do Vídeo (em segundos)" %>
    <%= form.number_field :video_end, min: "0", class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :pic %>
    <%= form.text_field :pic, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :buy_on_amazon %>
    <%= form.text_field :buy_on_amazon , class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :buy_on_americanas %>
    <%= form.text_field :buy_on_americanas , class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :buy_on_submarino %>
    <%= form.text_field :buy_on_submarino , class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :buy_on_shotime %>
    <%= form.text_field :buy_on_shoptime , class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :buy_on_magalu %>
    <%= form.text_field :buy_on_magalu , class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :rating %>
    <%= form.number_field :rating, step: :any, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :pros %>
    <%= form.text_area :pros, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :cons %>
    <%= form.text_area :cons, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :summary, "Summary (Simple Format)" %>
    <%= form.text_area :summary, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :description, "Description (Simple Format)" %>
    <%= form.text_area :description, class: "form-control" %>
  </div>

  <h2>Specs</h2>

  <div class="form-group">
    <%= form.label :os %>
    <%= form.text_field :os, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :camera %>
    <%= form.text_field :camera, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :storage %>
    <%= form.text_field :storage, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :display %>
    <%= form.text_field :display, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :resolution %>
    <%= form.text_field :resolution, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :battery %>
    <%= form.text_field :battery, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :ram %>
    <%= form.text_field :ram, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :weight %>
    <%= form.text_field :weight, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :backlight %>
    <%= form.text_field :backlight, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :touchscreen %>
    <%= form.text_field :touchscreen, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :colors %>
    <%= form.text_field :colors, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :connection %>
    <%= form.text_field :connection, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :cpu %>
    <%= form.text_field :cpu, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :extras, "Extras (Simple Format)" %>
    <%= form.text_area :extras, class: "form-control" %>
  </div>

  <div class="actions">
    <%= form.submit class: "btn btn-primary" %>
  </div>

<% end %>