<p id="notice"><%= notice %></p>

<% if @admin %>
  <%= link_to 'New Review', new_review_path %>
<% end %>

    <% @reviews.each do |review| %>

        <h2><%= link_to review.title, review.url %></h2>
        
        <%= simple_format review.summary %>

        <br />

        <% if @admin %>
          <%= link_to 'Edit', edit_review_path(review) %>
          <%= link_to 'Destroy', review, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
    <% end %>