<p id="notice"><%= notice %></p>

<% if @admin %>
  <%= link_to 'New Review', new_review_path %>
<% end %>

    <% @reviews.each do |review| %>
        <h2><%= link_to review.title, "/#{review.device}/#{review.url}" %></h2>

        <div class="float-right">        
          <% if review.pic != "" %>
              <%= review.pic.html_safe %>
          <% else  %>
              <div class="nopic img-thumbnail"></div>
          <% end %>
        </div>

        <div>        
          <%= simple_format review.summary %>
        </div>

        <br />

        <% if @admin %>
          <%= link_to 'Edit', edit_review_path(review) %>
          <%= link_to 'Destroy', review, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>

    <% end %>