<p id="notice"><%= notice %></p>

<div>
  <div class="row">
    <div class="col">
      <h1 class="font-weight-bold text-dark"><%= @review.title %></h1>
    </div>
  </div>

  <br />

  <div class="card-group">

    <div class="col-lg-7 col-md-7 col-sm-6 col-xs-6 card text-white bg-dark">
      <div class="card-header text-center">
          <% if @review.rating %>
              <% stars = @review.rating %>
              <% full_stars = stars.floor %>
              <% empty_stars = 5 - stars %>
              <% half_star = empty_stars - empty_stars.floor %>

              <% full_stars.times do %>
                  <%= icon('fas', 'star', class: 'star') %>
              <% end %>

              <% if half_star > 0 %>
                <%= icon('fas', 'star-half-alt', class: 'star') %>
              <% end %>

              <% if empty_stars %>
                <% empty_stars.floor.times do %>
                  <%= icon('far', 'star', class: 'star') %>                  
                <% end %>
              <% end %>
          <% end %>
      </div>
      <div class="card-body">      
        <%= simple_format @review.summary %>
      </div>
    </div>
    
    <div class="col-lg-5 col-md-5 col-sm-6 col-xs-6 card bg-white">
      <div class="card-body text-center">
        <% if @review.pic != "" %>
          <%= @review.pic.html_safe %>
        <% else  %>
          <div class="nopic img-thumbnail"></div>
        <% end %>
      </div>

        <% if @review.buying_options_not_blank? %>
          <!-- Button trigger modal -->
          <button type="button" class="btn btn-warning font-weight-bold text-dark" data-toggle="modal" data-target=<%= "#modal-#{@review.url}"%>>
            Ver Preço
          </button>

          <!-- Modal -->
          <div class="modal fade" id=<%= "modal-#{@review.url}"%> tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Preço nas melhores lojas online...</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <% unless @review.buy_on_amazon.blank? %>
                    <a href="<%= @review.buy_on_amazon %>" class="btn btn-warning font-weight-bold text-dark btn-block" rel="nofollow noopener noreferrer" target="_blank">Amazon</a>
                  <% end %>

                  <% unless @review.buy_on_americanas.blank?  %>
                    <a href="<%= @review.buy_on_americanas %>" class="btn btn-danger font-weight-bold btn-block" rel="nofollow noopener noreferrer" target="_blank">Americanas</a>
                  <% end %>

                  <% unless @review.buy_on_submarino.blank? %>
                    <a href="<%= @review.buy_on_submarino %>" class="btn btn-primary font-weight-bold btn-block" rel="nofollow noopener noreferrer" target="_blank">Submarino</a>
                  <% end %>

                  <% unless @review.buy_on_shoptime.blank? %>
                    <a href="<%= @review.buy_on_shoptime %>" class="btn btn-info font-weight-bold btn-block" rel="nofollow noopener noreferrer" target="_blank">Shoptime</a>
                  <% end %>                  
                </div>
                <div class="modal-footer">
                  *Links abrem em uma nova janela
                </div>
              </div>
            </div>
          </div>
        <br />
        <% end %>

    </div>
  </div>

  <br />

  <% unless @review.video.blank? %>
    <div class="embed-responsive embed-responsive-16by9">
      <iframe class="embed-responsive-item" src=<%= "https://www.youtube.com/embed/#{@review.video}?start=#{@review.video_start}&end=#{@review.video_end}" %> allowfullscreen></iframe>
    </div>

    <br />
  <% end %>

  <div class="card-group">
    <div class="card">
      <div class="card-header text-success">
        <h5><%= icon('fas', 'thumbs-up') %> Pros</h5>
      </div>
      <div class="card-body text-success">
        <%= @review.pros.html_safe %>
      </div>
    </div>

    <div class="card">
      <div class="card-header text-danger">
        <h5><%= icon('fas', 'thumbs-down') %>  Cons</h5>
      </div>
      <div class="card-body text-danger">
        <%= @review.cons.html_safe %>
      </div>
    </div>
  </div>

  <br />

  <div class="row">
    <div class="col">
      <div>
        <%= simple_format @review.description %>
      </div>
    </div>
  </div>

  <table class="table table-striped table-dark">
            <thead>
              <tr>
                <th colspan="2">
                  <%= @review.title %>
                </th>     
              </tr>
            </thead>
            <tbody>
              <tr>
                <td style="min-width: 160px; width: 25%">
                  <%= icon('fas', 'star') %> Avaliação
                </td>
                <td style="min-width: 100px; width: 75%">
                  <% if @review.rating %>
                      <% stars = @review.rating %>
                      <% full_stars = stars.floor %>
                      <% empty_stars = 5 - stars %>
                      <% half_star = empty_stars - empty_stars.floor %>

                      <% full_stars.times do %>
                          <%= icon('fas', 'star', class: 'star-table') %>
                      <% end %>

                      <% if half_star > 0 %>
                        <%= icon('fas', 'star-half-alt', class: 'star-table') %>
                      <% end %>

                      <% if empty_stars %>
                        <% empty_stars.floor.times do %>
                          <%= icon('far', 'star', class: 'star-table') %>                  
                        <% end %>
                      <% end %>
                  <% end %>
                </td>
              </tr>
              <% if @review.buying_options_not_blank? %>
                <tr>
                  <td><%= icon('fas', 'dollar-sign') %> Preço</td>
                  <td>
                    <button type="button" class="btn btn-warning btn-sm font-weight-bold text-dark btn-block" data-toggle="modal" data-target=<%= "#modal-#{@review.url}"%>  style="width: 100px">
                      Ver Preço
                    </button>
                  </td>
                </tr>
              <% end %>
              <% unless @review.os.blank? %>
                <tr>
                  <td><%= icon('fas', 'brain') %> Sistema Operacional</td>
                  <td><%= @review.os %></td>
                </tr>
              <% end %>
              <% unless @review.camera.blank? %>
                <tr>
                  <td><%= icon('fas', 'camera') %> Câmera</td>
                  <td><%= @review.camera %></td>
                </tr>
              <% end %>
              <% unless @review.storage.blank? %>
                <tr>
                  <td><%= icon('fas', 'th') %> Armazenamento</td>
                  <td><%= @review.storage %></td>
                </tr>
              <% end %>
              <% unless @review.display.blank? %>
                <tr>
                  <td><%= icon('fas', 'expand') %> Display</td>
                  <td><%= @review.display %></td>
                </tr>
              <% end %>
              <% unless @review.resolution.blank? %>
                <tr>
                  <td><%= icon('far', 'eye') %> Resolução</td>
                  <td><%= @review.resolution %></td>
                </tr>
              <% end %>
              <% unless @review.battery.blank? %>
                <tr>
                  <td><%= icon('fas', 'battery-three-quarters') %> Bateria</td>
                  <td><%= @review.battery %></td>
                </tr>
              <% end %>
              <% unless @review.ram.blank? %>
                <tr>
                  <td><%= icon('fas', 'memory') %> Ram</td>
                  <td><%= @review.ram %></td>
                </tr>
              <% end %>
              <% unless @review.weight.blank? %>
                <tr>
                  <td><%= icon('fas', 'weight-hanging') %> Peso</td>
                  <td><%= @review.weight %></td>
                </tr>
              <% end %>
              <% unless @review.backlight.blank? %>
                <tr>
                  <td><%= icon('fas', 'lightbulb') %> Retroiluminação</td>
                  <td><%= @review.backlight %></td>
                </tr>
              <% end %>
              <% unless @review.touchscreen.blank? %>
                <tr>
                  <td><%= icon('fas', 'hand-point-up') %> Touchscreen</td>
                  <td><%= @review.touchscreen %></td>
                </tr>
              <% end %>
              <% unless @review.colors.blank? %>
                <tr>
                  <td><%= icon('fas', 'palette') %> Cores</td>
                  <td><%= @review.colors %></td>
                </tr>
              <% end %>
              <% unless @review.connection.blank? %>
                <tr>
                  <td><%= icon('fas', 'wifi') %> Conexão</td>
                  <td><%= @review.connection %></td>
                </tr>
              <% end %>
              <% unless @review.cpu.blank? %>
                <tr>
                  <td><%= icon('fas', 'microchip') %> Processador</td>
                  <td><%= @review.cpu %></td>
                </tr>
              <% end %>
              <% unless @review.extras.blank? %>
                <tr>
                  <td><%= icon('fas', 'hand-holding-usd') %> Extras</td>
                  <td><%= simple_format @review.extras %></td>
                </tr>
              <% end %>
            </tbody>
          </table>

  <br />

  <div class="row">
    <div class="col">
      <h3 class="font-weight-bold text-dark">Você vai gostar também...</h3>

      <ul style="list-style-type: none; margin: 0; padding: 0">
        <% @review.posts.each do |post| %>
          <li><%= icon('fas', "file-invoice", class: 'text-primary') %> <strong><%= link_to post.title, "/#{post.url}" %></strong></p>
        <% end %>
      </ul>

    </div>
  </div>

  <br />
</div>

<% if @admin %>
  <%= link_to 'Edit', edit_review_path(@review) %> |
  <%= link_to 'Back', reviews_path %>
<% end %>
