<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @review.title %>
</p>

<p>
  <strong>Url:</strong>
  <%= @review.url %>
</p>

<p>
  <strong>Video:</strong>
  <%= @review.video %>
</p>

<p>
  <strong>Pic:</strong>
  <%= @review.pic %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @review.rating %>
</p>

<p>
  <strong>Pros:</strong>
  <%= @review.pros %>
</p>

<p>
  <strong>Cons:</strong>
  <%= @review.cons %>
</p>

<p>
  <strong>Summary:</strong>
  <%= @review.summary %>
</p>

<p>
  <strong>Description:</strong>
  <%= @review.description %>
</p>

<p>
  <strong>Os:</strong>
  <%= @review.os %>
</p>

<p>
  <strong>Camera:</strong>
  <%= @review.camera %>
</p>

<p>
  <strong>Storage:</strong>
  <%= @review.storage %>
</p>

<p>
  <strong>Display:</strong>
  <%= @review.display %>
</p>

<p>
  <strong>Resolution:</strong>
  <%= @review.resolution %>
</p>

<p>
  <strong>Battery:</strong>
  <%= @review.battery %>
</p>

<p>
  <strong>Ram:</strong>
  <%= @review.ram %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @review.weight %>
</p>

<%= link_to 'Edit', edit_review_path(@review) %> |
<%= link_to 'Back', reviews_path %>
