<p id="notice"><%= notice %></p>

<div>
  <div class="row">
    <div class="col">
      <h1 class="font-weight-bold text-dark"><%= @review.title %></h1>
    </div>
  </div>

  <br />

  <div class="card-group">

    <div class="col-lg-7 col-md-7 col-sm-6 col-xs-6 card text-white bg-dark">
      <div class="card-header text-center">
          <% if @review.rating %>
              <% @review.rating.times do %>
                  <i class="material-icons star">star</i>
              <% end %>
              <% (5 - @review.rating).times do %>
                  <i class="material-icons star">star_border</i>
              <% end %>
          <% end %>
      </div>
      <div class="card-body">      
        <%= simple_format @review.summary %>
      </div>
    </div>
    
    <div class="col-lg-5 col-md-5 col-sm-6 col-xs-6 card bg-white">
      <div class="card-body text-center">
        <%= @review.pic.html_safe %>        
      </div>
      <a href="#" class="btn btn-warning font-weight-bold text-dark">Compre na Amazon</a>
      <br />
    </div>

  </div>

  <br />

  <div class="card-group">
    <div class="card">
      <div class="card-header text-success">
        <h5><i class="material-icons thumbs">thumb_up</i> Pros</h5>
      </div>
      <div class="card-body text-success">
        <%= @review.pros.html_safe %>
      </div>
    </div>

    <div class="card">
      <div class="card-header text-danger">
        <h5><i class="material-icons thumbs">thumb_down</i> Cons</h5>
      </div>
      <div class="card-body text-danger">
        <%= @review.cons.html_safe %>
      </div>
    </div>
  </div>

  <br />

  <div class="row">
    <div class="col">

      <%= @review.video ? @review.video : "" %>

      <div>
        <%= simple_format @review.description %>
      </div>

      <p>
        <strong>Os:</strong>
        <%= @review.os %>
      </p>

      <p>
        <strong>Camera:</strong>
        <%= @review.camera %>
      </p>

      <p>
        <strong>Storage:</strong>
        <%= @review.storage %>
      </p>

      <p>
        <strong>Display:</strong>
        <%= @review.display %>
      </p>

      <p>
        <strong>Resolution:</strong>
        <%= @review.resolution %>
      </p>

      <p>
        <strong>Battery:</strong>
        <%= @review.battery %>
      </p>

      <p>
        <strong>Ram:</strong>
        <%= @review.ram %>
      </p>

      <p>
        <strong>Weight:</strong>
        <%= @review.weight %>
      </p>
    </div>
  </div>
</div>
<%= link_to 'Edit', edit_review_path(@review) %> |
<%= link_to 'Back', reviews_path %>
