<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <title><%= @title.call %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <% if Rails.env.production? %>
      <!-- Global site tag (gtag.js) - Google Analytics -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=UA-16566186-28"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-16566186-28');
      </script>
    <% end %>

    
  </head>

  <body>  
    
      <nav class="navbar d-block d-lg-none">
        <a class="navbar-brand" href="/" aria-label="Tablet Z">
          <%= image_tag("tablet_z_logo_1.svg", class: "logo-mini") %>
        </a>

        <%= icon('fas', 'bars', class: "navbar-toggler float-right", "data-toggle": "collapse", "data-target": "#navbarText", "aria-controls": "navbarText", "aria-expanded": "false", "aria-label": "Toggle navigation") %>
        <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <%= link_to "Sobre", sobre_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "Contato", contato_path, class: "nav-link" %>
            </li>
          </ul>
        </div>
      </nav>
    
    <div class="container-fluid">
      <div class="row">
      
        <div class="vertical-navbar d-none d-lg-block ml-0 pl-0 mr-0 pr-0">
          <nav class="nav flex-column sticky-top">
            <ul class="nav flex-column text-center">
              <a class="navbar-brand mx-auto" href="/" aria-label="Tablet Z">
                <%= image_tag("tablet_z_logo_1.svg", class: "logo") %>
              </a>
              <br />
              <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Kindles">
                <a class="nav-link" href="/dispositivos/kindle">
                  <i class="material-icons">tablet_mac</i>
                </a>
              </li>
              <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Notebooks">
                <a class="nav-link" href="/dispositivos/notebook">
                  <i class="material-icons">laptop</i>
                </a>
              </li>
            </ul>     
          </nav>
        </div>

        <div class="col-xl-3 col-lg-2 col-md-1 col-sm-1 col-xs-0">
        </div>

        <div class="col-xl-6 col-lg-7 col-md-10 col-sm-10 col-xs-1 main">
          <%= yield %>
        </div>

        <div class="col-xl-3 col-lg-2 col-md-1 col-sm-1 col-xs-0">
        </div>

      </div>
    </div>    
    
    <footer class="footer">
      <div class="container-fluid bg-secondary">

        <br/>

        <div class="row text-center">
          <div class="col-3">
            <p><%= link_to "Sobre", sobre_path, class: "footer-link" %></p>
          </div>

          <div class="col-2">
            <p><%= link_to "Contato", contato_path, class: "footer-link" %></p>
          </div>

          <div class="col-1">            
            <a class="footer-icon" href="https://twitter.com/CelsoDeSa">
              <%= icon('fab', "twitter-square") %>
            </a>
          </div>

          <div class="col-2">
            <p><%= link_to "Termos", termos_de_uso_path, class: "footer-link" %></p>
          </div>          

          <div class="col-3">
            <p><%= link_to "Privacidade", politica_de_privacidade_path, class: "footer-link" %></p>
          </div>
        </div>

      </div>

      <div class="container-fluid bg-dark">

        <br />

        <div class="row text-center">
          <div class="col-1">
          </div>

          <div class="col-10">
            <p class="disclaimer">COPYRIGHT © <%= Date.current.year %> · Tablet Z &#9733; TABLETZ.COM.BR É UM PARTICIPANTE DO PROGRAMA ASSOCIADOS DA AMAZON.COM.BR</p>
          </div>

          <div class="col-1">
          </div>
        </div>

      </div>
    </footer>

  </body>
</html>
