<!DOCTYPE html>
<html>
  <head>
    <title>Tabletz</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="navbar navbar-expand navbar-dark flex-column flex-md-row bd-navbar">
      <a class="navbar-brand mr-0 mr-md-2" href="/" aria-label="Mediquem">
        Tablet Z
      </a>
    </header>

    <p class="notice"><%= notice %></p>

    <%= yield %>
    
  </body>
</html>
